html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #664E88 0%, #6D8299 52%, #4B3869 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h2  {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 48px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.tarea {
  padding: 2rem;
  background-color: #fff;
  border-bottom: 1px solid#e1e1e1;
  color: black;
}

.tarea p {
  font-weight: bold;
  margin-bottom:.8rem;
}

.tarea p span {
  font-weight: normal;
}

.button.eliminar,
.button.el:hover {
  background-color: #c10059;
  color:white;
  margin-top:2rem;
}

.alert-error {
  background-color: #c10059;
  color: redpurple;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:Georgia, 'Staatliches' , cursive;
}
